div.header {
	height: 20%;
	width: 100%;
	color: red;
	background-color: black;
		
}
div.header>h1 {
	font-size:10%;
}

table.toolbar {
	display:block
	height:7%;
	position:sticky;
	top:0;
	width:100%;
}

div.toolbarbutton {
	display:inline-block;
	color: white;
	width:100%;	
	text-align:center	
}
table.toolbar>tbody>tr>td>a {
	display:inline-block;
	width:100%;
	height:7%;	
	background-color:blue;
	border-color:white;
	border-width:0;
}
table.toolbar>tbody>tr>td {
	width:20%;
}
/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hero.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: auto;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
