div.header {
	height: 100px;
	width: 100%;
	color: red;
	background-color: black;
		
}
div.header>h1 {
	font-size:75p;
}

table.toolbar {
	display:block
	height:7%;
	position:sticky;
	top:0;
	width:100%;
}

div.toolbarbutton {
	display:inline-block;
	color: white;
	width:100%;	
	text-align:center	
}
table.toolbar>tbody>tr>td>a {
	display:inline-block;
	width:100%;
	height:7%;	
	background-color:blue;
	border-color:white;
	border-width:0;
}
table.toolbar>tbody>tr>td {
	width:20%;
}
/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hero.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: auto;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}




/*This class is for images that sit alongside text in content windows.  Each wrap-image img should have its own id to handle size and position, but this class ensures margins and wrapping is consistent and encapsulated.*/
/*to make an image float to the left or right, simply add the css class. This is just a convenience to speed up html dev.*/
img.float-left {
	float:left;
}
img.float-right {
	float:right;
}

/*designate an image a fill-image to make it fit the container it's put in without stretching.*/
img.cover-image {
 width: inherit;
  height: inherit;
  object-fit: cover;
}
/*or give it the class fill-image to ensure it stretches as usual.*/
img.fill-image {
 width: inherit;
  height: inherit;
  object-fit: fill;
}
/*or contain-image to set object-fit to contain, so it will grow to fit the box, but not stretch*/
img.contain-image {
 width: inherit;
  height: inherit;
  object-fit: contain;
}


